# Numpy

In [1]:
import numpy as np

In [2]:
a=np.arange(4)

In [3]:
a

array([0, 1, 2, 3])

In [4]:
b=np.arange(5,9)

In [5]:
b

array([5, 6, 7, 8])

In [6]:
c=np.arange(5,11,2)

In [7]:
c

array([5, 7, 9])

In [8]:
type(c)

numpy.ndarray

In [9]:
a=np.arange(9)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [10]:
a.reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [11]:
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [12]:
a1=np.array([[1,2,3],[4,5,6]])

In [13]:
a1

array([[1, 2, 3],
       [4, 5, 6]])

In [14]:
a2=np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])

In [15]:
a2

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [16]:
a2.shape

(2, 2, 3)

In [17]:
a2.ndim

3

In [18]:
a2.size

12

In [19]:
z1=np.zeros((3,3)) #will result floating numbers

In [20]:
z1

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [21]:
z2=np.zeros((3,3),dtype=int) #will result int numbers

In [22]:
o1=np.ones((3,3)) #will result floating numbers

In [23]:
o1

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [24]:
o2=np.ones((3,3), dtype=int) #will result int numbers

In [25]:
o2

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

In [26]:
f7= np.full((3,3),7) # fill all elements with given number

In [27]:
f7

array([[7, 7, 7],
       [7, 7, 7],
       [7, 7, 7]])

In [28]:
f8= np.full((5,5),8)

In [29]:
f8

array([[8, 8, 8, 8, 8],
       [8, 8, 8, 8, 8],
       [8, 8, 8, 8, 8],
       [8, 8, 8, 8, 8],
       [8, 8, 8, 8, 8]])

In [30]:
e=np.random.randint(200,size=(5)) #random number till 200 randint for int random numbers

In [31]:
e

array([ 89,  47, 101, 142, 154])

In [32]:
e1=np.random.rand(10) ## 10 random numbers. random generates between 0 and 1

In [33]:
e1

array([0.6588246 , 0.81068745, 0.71740169, 0.57609819, 0.77122054,
       0.46867197, 0.77766965, 0.81893933, 0.14329209, 0.73958785])

In [34]:
r3=np.random.randint(20,size=(4,6))

In [35]:
r3

array([[13,  6,  4, 17, 14, 12],
       [13,  5,  7, 19, 12, 12],
       [12,  0, 14, 13, 18,  1],
       [ 8, 13, 10, 18, 18, 12]])

In [36]:
a11=np.array([1,2,3,4])
a12=np.array([5,6,7,8])

In [37]:
a11+a12 #Operator or function can be used. Same applies for -, *, /
#a11-a12
#a11*a12
#a11/a12
#a12%a11

array([ 6,  8, 10, 12])

In [38]:
np.add(a11,a12) #Operator or function can be used. Same applies for subtract, multiplication, devision
# np.subtract
# np.multiply
# np.divide
#np.mod
np.divmod(a11,a12) #gives two arrays. quotient and remainder

(array([0, 0, 0, 0]), array([1, 2, 3, 4]))

# Array comparison

In [39]:
x=[1,2,3]
y=[2,3,4]
z=[1,2,4]

In [40]:
np.equal(x,y) # Checks for each element and Results for each element

array([False, False, False])

In [41]:
np.array_equal(x,y) # Checks for each element but results for entire array

False

# Broad Casting an array

In [42]:
# To add certain numbers in all the rows

In [43]:
ab=np.array([[0,0,0],[1,2,3],[3,4,5],[6,7,8]])

In [44]:
bc= [1,2,3]

In [45]:
ab+bc #adds the array elements to all the rows in 'ab' array

array([[ 1,  2,  3],
       [ 2,  4,  6],
       [ 4,  6,  8],
       [ 7,  9, 11]])

# Array Manipulation

In [46]:
ab=np.array([[0,0,0],[1,2,3],[3,4,5],[6,7,8]])
ab

array([[0, 0, 0],
       [1, 2, 3],
       [3, 4, 5],
       [6, 7, 8]])

In [47]:
cd=np.array([[0,0,0],[1,2,3],[3,4,5],[6,7,8]])
cd

array([[0, 0, 0],
       [1, 2, 3],
       [3, 4, 5],
       [6, 7, 8]])

In [48]:
np.concatenate([ab,cd]) 
#need to pass the ordered sequence (either tuple or list) in this concatenate the function
#by default axis=0 that is it adds as rows

array([[0, 0, 0],
       [1, 2, 3],
       [3, 4, 5],
       [6, 7, 8],
       [0, 0, 0],
       [1, 2, 3],
       [3, 4, 5],
       [6, 7, 8]])

In [49]:
np.concatenate([ab,cd], axis=1) #axis=1, that is it adds as columns

array([[0, 0, 0, 0, 0, 0],
       [1, 2, 3, 1, 2, 3],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [50]:
np.hstack((ab,cd)) #stacks arrays next to the first one

array([[0, 0, 0, 0, 0, 0],
       [1, 2, 3, 1, 2, 3],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [51]:
np.vstack((ab,cd)) #stacks arrays below to the first one

array([[0, 0, 0],
       [1, 2, 3],
       [3, 4, 5],
       [6, 7, 8],
       [0, 0, 0],
       [1, 2, 3],
       [3, 4, 5],
       [6, 7, 8]])

In [52]:
ef=np.array([[0,0,0],[1,2,3],[3,4,5],[6,7,8]])

In [53]:
np.vstack((ab,cd,ef))

array([[0, 0, 0],
       [1, 2, 3],
       [3, 4, 5],
       [6, 7, 8],
       [0, 0, 0],
       [1, 2, 3],
       [3, 4, 5],
       [6, 7, 8],
       [0, 0, 0],
       [1, 2, 3],
       [3, 4, 5],
       [6, 7, 8]])

In [54]:
np.column_stack((ab,cd,ef))

array([[0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 2, 3, 1, 2, 3, 1, 2, 3],
       [3, 4, 5, 3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8, 6, 7, 8]])

In [55]:
np.row_stack((ab,cd,ef))

array([[0, 0, 0],
       [1, 2, 3],
       [3, 4, 5],
       [6, 7, 8],
       [0, 0, 0],
       [1, 2, 3],
       [3, 4, 5],
       [6, 7, 8],
       [0, 0, 0],
       [1, 2, 3],
       [3, 4, 5],
       [6, 7, 8]])

# Splitting of arrays

In [56]:
x=np.arange(10,26).reshape(4,4)

In [57]:
x

array([[10, 11, 12, 13],
       [14, 15, 16, 17],
       [18, 19, 20, 21],
       [22, 23, 24, 25]])

In [58]:
np.hsplit(x,2)

[array([[10, 11],
        [14, 15],
        [18, 19],
        [22, 23]]),
 array([[12, 13],
        [16, 17],
        [20, 21],
        [24, 25]])]

In [59]:
np.vsplit(x,2)

[array([[10, 11, 12, 13],
        [14, 15, 16, 17]]),
 array([[18, 19, 20, 21],
        [22, 23, 24, 25]])]

In [60]:
np.hsplit(x,np.array([1,2])) # - 1 is how many columns in first array and 2 is index

[array([[10],
        [14],
        [18],
        [22]]),
 array([[11],
        [15],
        [19],
        [23]]),
 array([[12, 13],
        [16, 17],
        [20, 21],
        [24, 25]])]

# Slicing and Indexing

In [61]:
arr = np.array([[1,2],[2,3],[3,4],[5,6]])
arr.ndim
for x in np.nditer(arr):
    print(x)
    
# No need to go with multiple inner for loop if we use 'nditer'

1
2
2
3
3
4
5
6

# Hands on in class

In [62]:
#Create np array of zeros of size (2,3)
zz1 = np.zeros((2,3))

In [63]:
zz1

array([[0., 0., 0.],
       [0., 0., 0.]])

In [64]:
#Flatten 2d np array to 1d np array
cd=np.array([[0,0,0],[1,2,3],[3,4,5],[6,7,8]])
cd

array([[0, 0, 0],
       [1, 2, 3],
       [3, 4, 5],
       [6, 7, 8]])

In [65]:
cd.ndim

2

In [66]:
cd.ravel() # ravel() flattens the arrays

array([0, 0, 0, 1, 2, 3, 3, 4, 5, 6, 7, 8])

In [67]:
#Convert 1D np Array to 2D np array from a pythong list
List1 = [0,1,2,3,4,5,6,7]
ar1 = np.array(List1)

In [68]:
ar1

array([0, 1, 2, 3, 4, 5, 6, 7])

In [69]:
ar1.reshape(2,4)

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [70]:
#Create np Array and sort

In [71]:
sr1 = np.random.randint(200,size=(5))

In [72]:
sr1

array([138, 101,  94, 130,  35])

In [73]:
sr1.sort()

In [74]:
sr1

array([ 35,  94, 101, 130, 138])

In [75]:
# Slice an np array to create another array without first two elements of the original array
List1 = [0,1,2,3,4,5,6,7]
ar1 = np.array(List1)
ar2 = ar1[2:]
ar2

array([2, 3, 4, 5, 6, 7])

In [76]:
#Create a 3x3 matrix array with values ranging from 2 to 10
r3 = np.arange(2,11).reshape(3,3)
r3

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [ 8,  9, 10]])

In [77]:

#Create a numpy array having user input values and convert the integer type to the float  ?????
#type of the elements of the array
f3 = []

#Taking user input value for array
for i in range(0,9):
    
    f3.append(int(input("Enter the element: ")))
print("Original array: ", f3)

#converting each element to float
for i in range(0,len(f3)):
     f3[i] = float(f3[i])
print(f3)

#Checking a random element datatype after chaning.
type(f3[1])

Enter the element: 1
Enter the element: 2
Enter the element: 3
Enter the element: 4
Enter the element: 5
Enter the element: 6
Enter the element: 7
Enter the element: 8
Enter the element: 9
Original array:  [1, 2, 3, 4, 5, 6, 7, 8, 9]
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

float

In [78]:
# Write a numpy program to append values to the end of an array. 
#For instrace:
ar1 = [10,20,30]
ar2 = [40,50,60]
ar3 = [70,80,90]
rr = np.hstack((ar1,ar2,ar3))
rr

array([10, 20, 30, 40, 50, 60, 70, 80, 90])

In [79]:
# Create two numpy arrays and add the elements of both arrays and strone the result in another array. 

ar1 = np.array([10,20,30])
ar2 = np.array([40,50,60])
sumArray = ar1+ar2
sumArray

array([50, 70, 90])

In [80]:
# Create a 3*3 array having values from 10-90 (Interaval of 10) and store that in array1. Perform following tasks
# a. Extract the 1st row from the array. 
# b. Extract the last element from the array
array1 = np.arange(10,91,10).reshape(3,3)
array1

array([[10, 20, 30],
       [40, 50, 60],
       [70, 80, 90]])

In [81]:
frow = array1[0]

In [82]:
frow

array([10, 20, 30])

In [83]:
last_el = array1[2,2]
last_el

90

In [84]:
#Create a function that takes dimentions as tuples e.g (3,3) and a numeric value and given and returns a 
#number array of the given dimention filled with the given values say solve((3,3,5)) will return
#[[5,5,5,],[5,5,5,],[5,5,5]]

def solve(x,y,z):
    ar1 = np.full((x,y),z)
    return ar1

print(solve(5,5,7))

[[7 7 7 7 7]
 [7 7 7 7 7]
 [7 7 7 7 7]
 [7 7 7 7 7]
 [7 7 7 7 7]]

In [85]:

# Create a method that takes n Numpy arrays of same dimensions and sums them and returns the answer????
# hint from class -  use for loop
def arrsum(arr1,arr2):
    return arr1+arr2

ar1 = np.array([10,20,30])
ar2 = np.array([40,50,60])
arrsum(ar1,ar2)

array([50, 70, 90])

In [86]:
# Given a 2 D Array of N X M Dimension, write a function that accepts this array as well as two number N and M.
#the method should return the top left NxM  sub matrix e.g:
#[[1,2,3],[4,5,6],[7,8,9]]]
#top_left_sub_Matrix (matrix,2,2) - > Should return: [[1,2][4,5]

def top_left_sub_Matrix(matrix, N, M):
    arr2 = matrix[0:N,0:M]
    return(arr2)


array1 = np.arange(10,100,10).reshape(3,3)
print(array1)
print(top_left_sub_Matrix(array1,2,2))

[[10 20 30]
 [40 50 60]
 [70 80 90]]
[[10 20]
 [40 50]]

In [87]:
# Given a 2 D Array of N X M Dimension, write a function that accepts this array as well as two number N and M.
#the method should return the bottom right NxM  sub matrix e.g:
#[[1,2,3],[4,5,6],[7,8,9]]]
#top_left_sub_Matrix (matrix,2,2) - > Should return: [[5,6][8,9]

def top_left_sub_Matrix(matrix, N, M):
     arr2 = matrix[N:,M:]
     return(arr2)


arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]])
print(top_left_sub_Matrix(arr,1,3))

[[ 9 10]
 [14 15]]

In [88]:
# Given a 1 D numpy array. Write a function that accepts this array as parameters. The method should return a 
#Dictionary with a 'mean' and 'std_Dev' as key and arrray's mean and arrays' standard deviation as values:
#[1,1,1] solution(arr) --> Should return: { 'mean': 1.0, 'std_Dev': 0.0}

def solution(arr):
    mean_arr=np.mean(arr)
    stddev_arr=np.std(arr)
    d={'mean': mean_arr,'std_dev': stddev_arr}
    return d

List1 = [0,1,2,3,4,5,6,7]
ar1 = np.array(List1)
dic1 = solution(ar1)
print(dic1)

{'mean': 3.5, 'std_dev': 2.29128784747792}