## Table of Content

1. **[Python Variables](#variables)**
2. **[Data Types](#type)**
    - 2.1 - [Numbers](#num)
    - 2.2 - [Strings](#str)
    - 2.3 - [Boolean](#bool)
3. **[Type Conversion](#typecon)**
4. **[Python print()](#print)**
5. **[User Input](#uinput)**
6. **[Python Operators](#oper)**
    - 6.1 - [Arithmetic Operator](#arith)
    - 6.2 - [Comparison Operator](#comp)
    - 6.3 - [Assignment Operator](#assign)
    - 6.4 - [Logical Operator](#logic)
    - 6.5 - [Membership Operator](#member)
    - 6.6 - [Bitwise Operator](#bitwise)

<a id="variables"> </a>
## Python Variables

<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Variables are nothing but reserved memory locations to store values. This implies that when you create a variable, you hold some space in the memory.<br>
                        <br>Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Declaring and assigning a value to a variable
We use the assignment operator  '='  to assign a value to a variable.

In [ ]:
num = 30

The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable. Here, we have created a variabe named 'num' and we have assigned value 30 to 'num' variable.

#### Multiple assignments
Python allows you to assign a single value to several variables simultaneously. For example −

In [ ]:
# Here, an integer object is created with the value 5, and all three variables are assigned to the same memory location
x = y = z = 5

You can also assign multiple objects to multiple variables

In [ ]:
a,b,c = 5,10.1,"Great Lakes"

#### Re-assigning a variable

In [ ]:
var1 = 25
var2 = "Arthur"
var2 = var1
var2

25

### Rules and Naming Conventions
<em>
<table align="left">
    <tr>
        <td>
            <div align="left", style="font-size:125%">
                <font color="#21618C">
                    <b>1. Constant and variable names should have a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore(_). For example: <br>
                       <br> &emsp; variable_name<br>
                        &emsp; VARIABLE_NAME<br>
                        &emsp; varName<br>
                        &emsp; VariableName<br>
                    </b>
                    <b><br>2. Create a name that makes sense. For example, variable makes more sense than v  <br>               
                    </b>
                    <b><br>3. If you want to create a variable name having two words, use underscore to separate them<br>
                    </b>
                    <b><br>4. Never use special symbols like !, @, #, $, %, etc.<br>
                    </b>
                    <b><br>5. Do not start a variable name with a digit<br>
                    </b>
                    <b><br>6. Reserved words (built-in keywords) cannot be used as variable names.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

</em>

<a id = "type"></a>
## Data Types

<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>A data type is an attribute of data which tells the compiler or interpreter how the programmer intends to use the data. Python supports the following Python data types:<br><br>
                        1. Numbers<br>
                        2. Strings<br>
                        3. Boolean<br>
                        4. Lists<br>
                        5. Tuples<br>
                        6. Dictionaries <br>
                        7. Sets
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<a id="num"> </a>
### Python Numbers
There are four numeric Python data type:<br>
a. int (signed integers)<br>
b. float (floating point real values)<br>
c. long (long integers, they can also be represented in octal and hexadecimal)<br>
d. complex (complex numbers)

<table>
  <tr>
  <th>int</th>
  <th>float</th>
  <th>long</th>
  <th>complex</th>
  </tr>
  <tr>
  <td>10</td>
  <td>54.4</td>
  <td>012345L</td>
  <td>2+5j</td>  
  </tr>
  <tr>
  <td>70</td>
  <td>0.01</td>
  <td>-987652L</td>
  <td>1.18j</td>
  </tr>
  <tr>
  <td>-150</td>
  <td>1.626e16</td>
  <td>10000000000000000</td>
  <td>-10j</td>
  </tr>
  <tr>
  <td>0x69</td>
  <td>74.15</td>
  <td>-4335685298777L</td>
  <td>45j</td>
  </tr>
  <tr>
  <td>-0x260</td>
  <td>89.33</td>
  <td>0348L	</td>
  <td>3e+26J</td>
  </tr>
</table>

#### int
'int' stands for integer. This Python Data Type holds signed integers. We can use the type() function to find which class it belongs to.

In [ ]:
a = -5
type(a)

int

In [ ]:
x = 1000
type(a)

int

#### float

In [ ]:
a = 1.1
type(a)

float

In [ ]:
x = -3.14
type(x)

float

In [ ]:
y = 1.626e16
type(y)

float

#### long

In [ ]:
x =999999999999999999999999999999999999999999999
type(x)

int

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>This construct does not exist in Python 3.x.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### complex

In [ ]:
x = 3+4j
type(x)

complex

In [ ]:
y = 3e+4j
type(y)

complex

<a id="str"> </a>
### Python Strings

A string is a sequence of characters. Python does not have a <em>char</em> data type, unlike C++ or Java. You can delimit a string using single quotes('string') or double-quotes("string").

In [ ]:
string = "Introduction to Python"
string

'Introduction to Python'

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

In [ ]:
str1 = "Great"
str2 = "Learning"
str3 = str1+str2
str3                      # Prints concatenated string

'GreatLearning'

In [ ]:
str3*3                    # Prints string three times

'GreatLearningGreatLearningGreatLearning'

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>You cannot use the minus(-) operator and the division(/) operator on strings.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Subsets of strings can be taken using the slice operator ([ ]). You can display a character from a string using its index in the string. Remember, indexing starts with 0.

In [ ]:
string[5]                 # Prints sixth character of the string

'd'

You can also display a burst of characters in a string using the slicing operator with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

In [ ]:
string[13:22]             # Prints characters starting from 14th to 21st character

'to Python'

Strings are <em>immutable</em>. The following line of code will generate an error

In [ ]:
string[0] = 'P'

TypeError: 'str' object does not support item assignment

<a id="bool"> </a>
### Python Boolean
In Python programming language, the Boolean datatype is a primitive datatype having one of two values: **True** or **False**. It is often a result of some conditions

In [ ]:
var = True
type(var)

bool

In [ ]:
print(10 > 9)

True

In [ ]:
print(10 == 9)

False

In [ ]:
print(10 < 9)

False

<a id="typecon"> </a>
## Type Conversion
Since Python is dynamically-typed, you may want to convert a value into another type. Python supports different type conversion functions like int(), float(), str() etc.

#### float()
It converts the passed value into a float.

In [ ]:
float(11)

11.0

You can turn a Boolean into an float.

In [ ]:
float (True)

1.0

In [ ]:
float(False)

0.0

You cannot turn a string into an float. It throws an error. However, if the string has only numbers, then you can.

In [ ]:
float("abc")

ValueError: could not convert string to float: 'abc'

In [ ]:
float("11")

11.0

In [ ]:
#You can also use ‘e’ to denote an exponential number

float("2.24e-2")           #this number works even without the float() function

0.0224

#### int

Conversion from float to int will round-off the value (make it closer to zero).

In [ ]:
int(11.7)

11

In [ ]:
int(-11.7)

-11

 You can also turn a Boolean into an int.

In [ ]:
int(True)

1

In [ ]:
int(False)

0

You cannot turn a string into an int. It throws an error. However, if the string has only numbers, then you can.

In [ ]:
int("GL")

ValueError: invalid literal for int() with base 10: 'GL'

In [ ]:
int("11")

11

#### str()
<em>str()</em> converts the value into a string.

In [ ]:
str(2.24)

'2.24'

In [ ]:
str(True)

'True'

In [ ]:
str(False)

'False'

In [ ]:
str(10)

'10'

<a id="print"> </a>
## Python print()

<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Syntax:<br>
                        <br><em> print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)</em>
                    </b>
                    <b><br><br><br><br>print() Parameters:<br>
                    <br>*objects - object to be printed. * indicates that there may be more than one object<br>
<br>sep - objects are separated by sep. Default value: ' '<br>
<br>end - end is printed at last<br>
<br>file - must be an object with write(string) method. If omitted it, sys.stdout will be used which prints objects on the screen.<br>
<br>flush - If True, the stream is forcibly flushed. Default value: False<br><br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
print("Hello World")

Hello World

In [ ]:
# initialize a variable
x = 2
print("x =", x)              # Here we pass two objects

x = 2

Only object parameter is passed in the above print() function.

#### print() with separator and end parameters
By default, python's print() function ends with a newline. This function comes with a parameter called 'end.' The default value of this parameter is '\n,' i.e., the new line character. You can end a print statement with any character or string using this parameter.<br>
Sometimes you need to print one blank line in your Python program.

In [ ]:
x = 2
a = 8
print("x =", x, end='\n\n\n')
print("a =", 8, end = 'j')

x = 2


a = 8j

Objects will be separated with what the <em>sep</em> parameter is set to.

In [ ]:
x = 2
a = 8
print("x =", x, sep='$$')
print("a =", 8, sep = 'j')

x =$$2
a =j8

<a id="uinput"> </a>
## User Input


<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>
                        <br>Most programs today use a dialog box as a way of asking the user to provide some type of input.<br>
                        <br>There are two functions in Python that you can use to read data from the user:
                        <br>1.raw_input()
                        <br>2.input() <br>
                        <br>You can store the results from them into a variable.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>raw_input() is deprecated in Python 3. Here we will discuss about the <em>input()</em> function.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

The Python input() function is used to read data from a standard input such as a keyboard and treats the received data as string. Basically, when we enter digit value, input() in python 3 stores it as string value. So to convert string value to integer value, we will use int() function just as shown below.

In [ ]:
age = int(input("Please enter your age: "))
print(age)
type(age)

Please enter your age: 24
24

int

In [ ]:
name = input("Please enter your name: ")
print(name)
type(name)

Please enter your name: Mike
Mike

str

When <em>input()</em> function executes program flow will be stopped until the user has given an input. The message displayed on the output screen to ask a user to enter input value is optional i.e. the prompt, will be printed on the screen is optional.
Whatever you enter as input, input function convert it into a string. If you enter an integer value still input() function convert it into a string. You need to explicitly convert it into an integer in your code using typecasting.

<a id="oper"> </a>
## Python Operators


<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>
                        <br>Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.<br>
                        <br>Python Operator falls into following categories:
                        <br>1. Arithmetic Operator
                        <br>2. Comparison Operator
                        <br>3. Assignment Operator
                        <br>4. Logical Operator
                        <br>5. Membership Operator
                        <br>6. Bitwise Operator
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<a id="arith"> </a>
### Arithmetic Operator
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

In [ ]:
a = 12
b = 2
# '+' Operator
print('a + b =',a+b)                  # Prints addition of a and b

# '-' Operator
print('a - b =',a-b)                  # Prints subtraction of  a and b

# '*' Operator
print('a * b =',a*b)                  # Prints multiplication of  a and b

# '%' Operator
print('a % b =',a%b)                  # Prints remainder of division between a and b

# '/' Operator
print('a / b =',a/b)                  # Prints division of  a and b

# '//' Operator
print('a // b =',a//b)                # Prints the interger value of the division between a and b

# '**' Operator
print('a ** b =',a**b)                # Prints the result of a to the power b

a + b = 14
a - b = 10
a * b = 24
a % b = 0
a / b = 6.0
a // b = 6
a ** b = 144

<a id="comp"> </a>
### Comparison Operator
Comparison Operator carries out the comparison between operands. They tell us whether an operand is greater than the other, lesser, equal, or a combination of those. It either returns <em>True</em> or <em>False</em> according to the condition.

In [ ]:
a = 10
b = 20

# '>' Operator
print('a > b  is',a>b)                 # Prints False since a is smaller than b

# '<' Operator
print('a < b  is',a<b)                 # Prints True since a is smaller than b

# '==' Operator
print('a == b  is',a==b)                 # Prints False since a and b are not equal

# '!=' Operator
print('a != b  is',a!=b)                 # Prints True since a is not equal to b

# '>=' Operator
print('a >= b  is',a>=b)                 # Prints False since a is not smaller nor equal to b

# '<= y' Operator
print('a <= b  is',a<=b)                 # Prints True since a is smaller than b

a > b  is False
a < b  is True
a == b  is False
a != b  is True
a >= b  is False
a <= b  is True

<a id="assign"> </a>
### Assignment Operator
An assignment operator assigns a value to a variable. It may manipulate the value by a factor before assigning it.

In [ ]:
# '=' Operator
x = 5                                 # Assigns the value to the variable on the left
print("x = ", x)

# '+=' Operator
x += 5
print("Updated value of x after (x += 5) is", x)     # Adds the values on either side and assigns it to the expression on the left. x+=5 is the same as x=x+5.

# '-=' Operator
x -=2
print("Updated value of x after (x -=2) is", x)     # Subtracts 2 from the latest value of x and assigns it to x(which is 10).

# '*=' Operator
x *= 2
print("Updated value of x after (x *= 2) is", x)     # Multiplies the current value of x with 2 and assigns the result to the same variable

# '/=' Operator
x /= 4
print('Updated value of x after (x /= 2) is', x)     # Divides the current value of x with 4 and assigns the result to the same variable

x =  5
Updated value of x after (x += 5) is 10
Updated value of x after (x -=2) is 8
Updated value of x after (x *= 2) is 16
Updated value of x after (x /= 2) is 4.0

<em>i+=1 is the same as i=i+1, whereas i=+1 just means i=(+1)</em>

<a id="logic"> </a>
### Logical Operators
Logical operators are like conjunctions that you can use to combine more than one condition. We have three Python logical operator – **<em>and</em>**, **<em>or</em>**, and **<em>not</em>** that come under python operators.

#### 'and' Operator
If the conditions on both the sides of the operator are true, then the expression as a whole is true.

In [ ]:
x = 11
a = x>10 and x<20
print(a)

True

Here both the conditions are satisfied. Therefore we have True as the output.

In [ ]:
x = 11
a = x>10 and x==12
print(a)

False

Here one of the condition is not satisfied. Therefore we have False as the output.

#### 'or' Operator
The expression is false only if both the statements around the operator are false. Otherwise, it is true.

In [ ]:
x = 11
a = x>10 or x==20
print(a)

True

Here one of the condition is satisfied. Therefore we have True as the output.

In [ ]:
x = 11
a = x>12 or x==20
print(a)

False

None of the above condition is True. Therefore we have False as the output

#### 'not' Operator
It converts True to False, and False to True. So, basically, <em>not</em> inverts the Boolean value of an expression

In [ ]:
x = 11
a = x>12 or x==20
print(not a)

True

Since both the conditions are false in the above code, False is stored in <em>a</em> and finally the not operator inverts False to True

<a id="member"> </a>
### Membership Operator

Membership operators tests whether a value is a member of a sequence. The sequence may be a list, a string, a tuple, or a dictionary. <br>
<br><em>in</em> and <em>not in</em> are the membership operators in Python. The output is in terms of True or False.

In [ ]:
# String
a = 'Great Learning'

# Output: True
print('L' in a)

# Output: False
print('O' in a)

True
False

<a id="bitwise"> </a>
### Bitwise Operator

These operators perform bit by bit operations on the operands.

In [ ]:
a = 10
b = 7

# Bitwise and(&) operator
print(a & b)              # binary for 10 is 1010 and binary for 7 is 111. If we & each bit we get 0010. which is 2

# Bitwise or(|) operator
print(a | b)              # binary for 10 is 1010 and binary for 7 is 111. If we | each bit we get 1111, which is 15

# Bitwise xor(^) operator
print(a^b)                # binary for 10 is 1010 and binary for 7 is 111. If we ~ each bit we get 1101, which is 13

# Bitwise One’s Complement(~) operator. Python One's complement of a number ‘A’ is equal to -(A+1)
print(~a)                 # binary for 10 is 1010. One's complement for 1010 is -(1010+1) --> -(1011), which is -11

# Bitwise left shift(<<) operator
print(a<<2)               # binary for 10 is 1010 and <<2 will convert 1010 to 101000 which is 40

# Bitwise right shift(>>) operator
print(a>>2)               # binary for 10 is 1010 and >>2 will convert 1010 to 10 which is 2

2
15
13
-11
40
2

## Table of Content

1. **[Introduction to List](#list)**
2. **[Introduction to Tuple](#tuple)**
3. **[Introduction to Dictionary](#dictionary)**
4. **[Introduction to Sets](#sets)**
5. **[Conditional Statement ](#loops)**
    - 5.1 - [if statement](#if_statement)
    - 5.2 - [if else statement](#if_else)
    - 5.3 - [if elif else](#if_elif_else)
    - 5.4 - [nested if and if else statement](#nested_if)
    - 5.5 - [for loop](#forloop)
    - 5.6 - [while loop](#whileloop)
    - 5.7 - [break statement](#break_statement)
    - 5.8 - [continue statement](#continue_statement)
6. **[Python Flow Control](#pfc)**
    - 6.1 - [if - statement](#condition)
    - 6.2 - [while- loop](#while)
    - 6.3 - [for- loop](#for)
7. **[Pseudocode](#pseudo)**

<a id="list"> </a>
## 1. Introduction to List
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>The list is a type which holds some other objects, in a given order.<br>
                    The list type implements the sequence protocol, and also allows you to add and remove elements from the sequence.<br>
                    The list is nothing but a set of values, we can use the index in square bracket [ ] to identify an value belonging to the list.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Constructing Lists

To create a list, use square brackets [] and separate items in the list with commas.
A list can be empty or contain any number of items with different data types (integers, float, strings, etc.)

In [ ]:
# create a empty list
empty_list = []
empty_list

[]

You can also use the built-in list type object to create lists

In [1]:
# empty list
empty_list = list()
empty_list

[]

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Note that python creates a single new list every time you execute the [] expression
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
list_1 = list_2 = [] # both names will point to the same list

list_1 = []
list_1 = list_2 # both names will point to the same list

list_1 = []; list_2 = [] # independent lists

**Note : A list can also hold another list as an item, these are called nested lists**

In [3]:
# nested list
my_list = [['Data Science','Machine Learning'],[135,232,321]]
my_list

[['Data Science', 'Machine Learning'], [135, 232, 321]]

### Acessing Elements in a List
You can access the list items by referring to the index number

**Indexing:**<br>
We use the index operator [ ]. Each item in a list has an assigned index value. Note that the index starts from 0 in python and must be an integer

Print the second item of the list

In [4]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# access the second item of a list at index 1
print(course[1])

machine learning

**Negative Indexing**:<br>
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item

Print the second last item of the list

In [5]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# access the second item of a list at index -2
print(course[-2])

html

**Length of List:**<br>
len() function help us in returning the total number of elements in a list

In [6]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print the length of the list
len(course)

5

### Slicing of a List
List uses the slicing operator : (colon) to extract part of the sequence

Return first three elements from the list

In [7]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print first three element from the list
course[:3]

['data science', 'machine learning', 'python']

Return last three elements from the list

In [8]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print last three element from the list
course[2:]

['python', 'html', 'big data']

Select elements from beginning to end

In [9]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print the all elements
course[:]

['data science', 'machine learning', 'python', 'html', 'big data']

Select first four elements

In [10]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print first four elements
course[0:4]

['data science', 'machine learning', 'python', 'html']

If all three start , stop, and step are provided, it generates portion of sequence after index start till stop with increment of index step

In [11]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[2:7:2])

[3, 5, 7]

In [12]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[7:0:-2])

[8, 6, 4, 2]

### Change Item Value
Refer the index number to change the value of a specific item

In [13]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# change the third item
course[3] = 'statistics'

course

['data science', 'machine learning', 'python', 'statistics', 'big data']

### List Methods
Python has a set of built-in methods that you can use on lists and arrays

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Python does not have built-in support for arrays, but python lists can be used rather than arrays
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Python has built-in methods that you can use on list:<br>
append()<br>
insert()<br>
extend()<br>
del <br>
remove()<br>
pop()<br>
reverse()<br>

**list.append(item)**<br>
The method list.append(item) will add the element at the end of a list

In [14]:
# define a list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

course2 = ['statistics']

# add element to the list
course1.append(course2)
course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 ['statistics']]

**list.insert(i, item)**<br>
This method will insert an element at the ith index in a list

In [16]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# insert element at 2nd index in a list
course.insert(2, 'statistics')
course

['data science',
 'machine learning',
 'statistics',
 'python',
 'html',
 'big data']

**list.extend(items)**<br>
The extend method concatenates lists

In [17]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data']

# define a second list
course2 = ['artificial intelligence']

# concatenate the list
course1.extend(course2)

course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

**Deleting List Elements**<br>
Use the del keywords to delete an item at specific index

In [18]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# delete the third element from the list
del course[2]

# print the output
course

['data science', 'machine learning', 'html', 'big data']

In [19]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# delete multiple items from the list
del course[0:2]

# print the output
course

['python', 'html', 'big data']

**list.remove(item)**<br>
It will search and remove only the first occurrence of an item

In [20]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.remove('html')

course

['data science', 'machine learning', 'python', 'big data', 'html']

**list.pop()**<br>
Removes and returns the last item of a list

In [21]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.pop()

'html'

**list.reverse()**<br>
The reverse() method reverses the sorting order of the elements

In [22]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.reverse()

course

['html', 'big data', 'html', 'python', 'machine learning', 'data science']

### Common List Operations

**Concatenation(+)**<br>
Concatenation uses the + Operator. It combines lists

In [23]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# define a second list
course2 = ['artificial intelligence']

# concatenate the list
course1 + course2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

**Repetition(*)**<br>
Uses the * Operator. Concatenates a list a repeated number of times

In [24]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

course1*2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'data science',
 'machine learning',
 'python',
 'html',
 'big data']

<a id="tuple"> </a>
## 2. Introduction to Tuple
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>A tuple is a collection which is ordered and unchangeable.<br>
                    In python tuples are written with round brackets.<br>
                    Iterating over the elements of a tuple is faster compared to iterating over a list.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Creating Tuple
Here, we are creating few tuples. We can have tuple of same type of data items as well as mixed type of data items

In [25]:
# tuple of strings
my_tuple = ("hello", "python", "hello", "world")
print(my_tuple)

('hello', 'python', 'hello', 'world')

In [26]:
# tuple of int, float, string
my_tuple = (123, 2.228, "hello python")
print(my_tuple)

(123, 2.228, 'hello python')

In [27]:
# tuple of string and list
my_tuple = ("python", [12, 12, 31])
print(my_tuple)

('python', [12, 12, 31])

In [28]:
# tuples inside another tuple
# nested tuple
my_tuple = ((2546, 332, 421), ("python", 63.1, "hi"))
print(my_tuple)

((2546, 332, 421), ('python', 63.1, 'hi'))

### Access Tuple Elements
We use indexes to access the elements of a tuple

In [29]:
# tuple of strings
my_tuple = ("mango", "yellow", "green", "blue")

# access the second element from the list
my_tuple[1]

'yellow'

**Negetive Indexing**<br>
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item of the tuple

In [30]:
# tuple of strings
my_tuple = ("mango", "yellow", "green", "blue")

# print last item of the tuple
my_tuple[-1]

'blue'

**Range of Indexes**<br>
You can specify a range of indexes by specifying where to start and where to end the range.
When specifying a range, the return value will be a new tuple with the specified items

In [31]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# return fourth and fifth element from the list
my_tuple[3:5]

('blue', 353)

**Range of Negative Indexes**<br>
Specify negative indexes if you want to start the search from the end of the tuple

In [32]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# return the items from index -3 (included) to index -1 (excluded)
my_tuple[-3:-1]

(353, 363.2)

### Change Tuple Values
We cannot change the elements of a tuple because elements of tuple are immutable. However we can change the elements of nested items that are mutable

In [33]:
my_tuple = (123, ['s', 'a', 'v'], "World")
print(my_tuple)

# changing the element of the list
# this is valid because list is mutable
my_tuple[1][2] = 99
print(my_tuple)

(123, ['s', 'a', 'v'], 'World')
(123, ['s', 'a', 99], 'World')

In [34]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# changing the element of tuple
# This is not valid since tuple elements are immutable
my_tuple[0] = 'orange'

TypeError: 'tuple' object does not support item assignment

### Delete Operation on Tuple
We already discussed above that tuple elements are immutable which also means that we cannot delete the elements of a tuple. However deleting entire tuple is possible

In [37]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

del my_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [39]:
# deleting entire tuple is possible
my_tuple1 = tuple()
del my_tuple1

### Tuple Methods

Python has two built-in methods that you can use on tuples:<br>
count()<br>
index()<br>
sorted()

**count()**<br>
Returns the number of times a specified value occurs in a tuple

In [40]:
my_tuple = ('a','p','p','l','e','e','d','e', 'd','e','a','c','w')
my_tuple.count('e')

4

**index()**<br>
Searches the tuple for a specified value and returns the position of where it was found

In [41]:
my_tuple = ('a','p','p','l','e','e','d','e', 'd','e','a','c','w')
my_tuple.index('l')

3

**sorted()**<br>
It sorts a tuple and always returns a list with the elements in a sorted manner

In [42]:
my_tuple = (2,3,5,6,4,7,8,9,9,2,3)
sorted(my_tuple)

[2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 9]

<a id="dictionary"> </a>
## 3. Introduction to Dictionary
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Python dictionary is an unordered collection of items.<br>
                    Dictionaries map keys to values and these key-value pairs provide a useful way to store data in python.<br>
                    
                    
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Gerneral Syntax of Dictionary:**<br>
dictionary_name = {&nbsp;key_1: value_1,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   key_2: value_2,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    key_3: value_3,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    }

### Create Dictionary
Separate keys from values with a colon(:), and a pair from another by a comma(,). Put it all in curly braces

In [43]:
# create dictionary
balance = {
    "Mia" : 83847,
    "John" : 83837,
    "Jill" : 94766
}
print(balance)

{'Mia': 83847, 'John': 83837, 'Jill': 94766}

### Accessing Items
You can access the items of a dictionary by referring to its key name, inside square brackets

In [44]:
# Get the value of "Mia" key
x = balance["Mia"]
x

83847

We can use get method to get the value of "Mia" key

In [45]:
x = balance.get("Mia")
x

83847

### Change Values
You can change the value of a specific element by referring to its key name

In [46]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

year_sales

{2015: 34500, 2016: 34300, 2017: 40000}

In [47]:
# Change the sales figure for 2015
year_sales[2015] = 45000

year_sales

{2015: 45000, 2016: 34300, 2017: 40000}

**Dictionary Length**

In [48]:
# print the length of dictionary
print(len(year_sales))

3

**Adding Items**<br>
Adding an item to the dictionary is done by using a new index key and assigning a value to it

In [49]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

year_sales['2018'] = 55000

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, '2018': 55000}

### Dictionary Method

**Removing Items**<br>
There are several methods to remove items from a dictionary:<br>
pop() method<br>
popitem() method<br>
del keywords<br>
clear keyword

**pop()**<br>
The pop() method removes the item with the specified key name

In [50]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# remove key from dictionary
year_sales.pop(2015)

year_sales

{2016: 34300, 2017: 40000}

**popitem()**<br>
The popitem() method removes the last inserted item

In [51]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# remove last item from the dictionary
year_sales.popitem()

year_sales

{2015: 34500, 2016: 34300}

**del keywords**<br>
The del keyword removes the item with the specified key name

In [52]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# delete item from the dictionary
del year_sales[2015]

year_sales

{2016: 34300, 2017: 40000}

**clear()**<br>
The clear() keyword empties the dictionary

In [53]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# clear the dictionary
year_sales.clear()

year_sales

{}

**Copy()**<br>
You cannot copy a dictionary simply by typing dict2 = dict1, because dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2<br>
You can use copy() method to make copy of dictionary

In [54]:
# create a dictionary
year_sales1 = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# make a copy of dictionary
copy_dict = year_sales.copy()

**sorted()**<br>
Return a new sorted list of keys in the dictionary

In [55]:
Square = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
sorted(Square)

[1, 3, 5, 7, 9]

**update()**<br>
We can also add and modify dictionaries by using the dict.update() method

In [56]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# update dictionary
year_sales.update({2018:30000})

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, 2018: 30000}

<a id="sets"> </a>
## 4. Introduction to Sets
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>A set is a collection of unique elements.<br>
                    A common use is to eliminate duplicate elements from a list.<br>
                    In addition, it supports set operations like union intersection and difference.                    
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Creating Set
In Python sets are written with curly brackets

In [57]:
# create a set
s = {1, 2, 3, 3, 4, 3, 3, 2, 2, 2}
print (s)

# create a set
set([1, 2, 3, 4])

{1, 2, 3, 4}

{1, 2, 3, 4}

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Notice that the set contains unique elements only even though we put duplicates into it
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

A set need not contain elements of the same type

In [58]:
# create a set
set = {12, 12, 'python', 4, 'world'}

# print
set

{12, 4, 'python', 'world'}

Python has the following methods that you can use on sets:<br>
add()<br>
update()<br>
len()<br>
remove()<br>
pop()<br>

### Change Items
Once a set is created, you cannot change its items, but you can add new items

**Add Items**<br>
Use add() method to add one item to a set<br>
Use update() method to add more than one item

In [59]:
# create a set
my_set = {'python','world'}

# add element
my_set.add("hi")

my_set

{'hi', 'python', 'world'}

Add multiple items to a set

In [65]:
# create a set
my_set = {'python','world'}

# update the set
my_set.update(['data science', 'machine learning'])

my_set
# Checking the duplicate insertion, result will be same as earlier, unordered
my_set.add('data science')

my_set

{'data science', 'machine learning', 'python', 'world'}

**Length of Set**

In [66]:
# create a set
my_set = {'python','world'}

# print the length of set
len(my_set)

2

**remove() method**<br>
Use remove() or discard() method to remove an item in a set

In [67]:
# create a set
my_set = {'data science', 'machine learning', 'python', 'world'}

# remove element from list
my_set.remove('data science')

my_set

{'machine learning', 'python', 'world'}

**pop() method**<br>
This method removes a random element from the set and returns the removed element

In [68]:
# create a set
my_set = {'data science', 'machine learning', 'python', 'world'}

# remove random element from set
my_set.pop()

'machine learning'

In [69]:
# create a set
my_set1 = {1,2,3,"data", "science"}

# remove random element from set
my_set1.pop()

1

### Set Operations

**Disjoint set**<br>
A set is disjoint with another set if the two sets have no common elements

In [74]:
my_set1 = {0, 1, 2, 3, 4}
my_set2 = {5, 6, 7}
print (my_set1.isdisjoint(my_set2))

True

**Checking for subset**<br>
Check whether all elements of a set are contained in another set using the issubset() method

In [76]:
# Determine whether one set is a subset of the other
my_set1 = {0, 1, 2, 3, 4}
my_set2 = {0, 2}
print (my_set2.issubset(my_set2))

True

**Set Union**<br>
Compute the union of two or more sets using the union() method

In [78]:
my_set1 = {0, 1, 2, 3, 4}
my_set2 = {5, 6, 7}
print (my_set1.union(my_set2))

{0, 1, 2, 3, 4, 5, 6, 7}

**Set Interaction**<br>
Use interaction() method to find the common the elements

In [80]:
my_set1 = {0, 1, 2, 3, 4}
my_set2 = {1, 2, 7}
# also print (my_set1.intersection(my_set2))

print (my_set1 & my_set2)

{1, 2}

**Set Difference**<br>
Set difference returns a new set containing all elements in the argument set that are not in the other sets

In [81]:
my_set1 = {0, 1, 2, 3, 4}
my_set2 = {1, 2, 7}
print (my_set1 - my_set2)

{0, 3, 4}

<a id="loops"> </a>
## 6. Conditional Statement

# <a id="if_statement"> </a>
## 6.1 if statement
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>If statement is one of the most commonly used conditional statement in most of the programming languages.<br>
                    It decides whether certain statements need to be executed or not.<br>
                    If statement checks for a given condition, if the condition is true, then the set of code present inside the if block will be executed.<br>
                    The If condition evaluates a boolean expression and executes the block of code only when the boolean expression becomes TRUE.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Important things about if statements:
<em>
<table align="left">
    <tr>
        <td>
            <div align="left", style="font-size:125%">
                <font color="#21618C">
                    <b>1. The colon (:) is significant and required. It separates the header of the compound statement from the body<br>
                    2. The line after the colon must be indented. It is standard in python to use four spaces for indenting<br>                </font>
            </div>
        </td>
    </tr>
</table>

</em>

**syntax:**<br><br>
if BOOLEAN EXPRESSION:<br>
&nbsp;&nbsp;    STATEMENTS

**Let’s see how it looks on a flow chart:**
            <img src="flowchart_if.png">

Now, we will see some examples on if statements

In [82]:
# create a string
my_string = 'Python'

# create a list
my_list = ['Data Science', 'Machine Learning', 'Artificial Intelligence', 'Python']

if my_string in my_list:
    print(my_string + ' Tutorial')

Python Tutorial

 Test if an item is a member of a list or not.

In [83]:
languages = ['java', 'python' ,'perl', 'ruby', 'c#']
if 'python' in languages:
    print('right')

right

<a id="if_else"> </a>
## 6.2 if else statement
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>The if..else statement evaluates test expression and will execute body of if only when test condition is True.<br>
                    It decides whether certain statements need to be executed or not.<br>
                    If the condition is False, body of else is executed. Indentation is used to separate the blocks.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Syntax of if...else**<br><br>
if BOOLEAN EXPRESSION:<br>
&nbsp;&nbsp;    STATEMENTS_1<br>
else:<br>
&nbsp;&nbsp;    STATEMENTS_2

**Flow chart of a if else statement:**
            <img src="flowchart_if_else.png">

Let’s see an example of the implementation of the if…else statement.

In [84]:
# create a integer
x = 200
print(x)

# uses the not operator to reverse the result of the logical expression
if not x == 500:
    print('the value of x different from 500')
else:
    print('the value of x is equal to 500')

200
the value of x different from 500

In [85]:
# create a integer
n = 150
print(n)

# If n is greater than 500, n is multiplied by 7, otherwise n is divided by 7
result = n * 7 if n > 500 else n / 7
print(result)

150
21.428571428571427

Check whether the two numbers are equal or not

In [86]:
a = 3; b=3
if (a == b):  ## intend is very important
    print("A & B are Equal")
else:
    print("A & B are not Equal")

A & B are Equal

In [87]:
string1 = str(input("enter your userid"))
string2 = str(input("enter your password"))

if (string1 == "greatlearning" and string2 == "simplelearning123"):
    print("Succefully logged in!!")
else :
    print("Please check your userid and password")

enter your useridhjgjh
enter your passwordjhjhghg
Please check your userid and password

<a id="if_elif_else"> </a>
## 6.3 if elif else
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>The elif is short for else if. It allows us to check for multiple expressions.<br>
                    &nbsp;If the condition for if is False, it checks the condition of the next elif block and so on.<br>
                    &nbsp;If all the conditions are False, body of else is executed.<br>
                   The if block can have only one else block. But it can have multiple elif blocks.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Syntax of if elif else:**<br>
if x < y:<br>
&nbsp;&nbsp;    STATEMENTS_A<br>
elif x > y:<br>
&nbsp;&nbsp    STATEMENTS_B<br>
else:<br>
&nbsp;&nbsp;    STATEMENTS_C

**Here is the flow chart of if elif else:**
            <img src="flowchart_if_elif.png">

Find the type of given variable

In [88]:
var = 1+3j
if (type(var) == int):
    print("Type of the variable is Integer")
elif (type(var) == float):
    print("Type of the variable is Float")
elif (type(var) == complex):
    print("Type of the variable is Complex")
elif (type(var) == bool):
    print("Type of the variable is Bool")
elif (type(var) == str):
    print("Type of the variable is String")
elif (type(var) == tuple):
    print("Type of the variable is Tuple")
elif (type(var) == dict):
    print("Type of the variable is Dictionaries")
elif (type(var) == list):
    print("Type of the variable is List")
else:
    print("Type of the variable is Unknown")

Type of the variable is Complex

Check whether the given number is greater than 50 or not

In [89]:
num = 100
if (num == 0):
    print("Number is Zero")
elif (num > 5):
    print("Number is greater than 50")
else:
    print("Number is smaller than 50")

Number is greater than 50

<a id="nested_if"> </a>
## 6.4 nested if and if else statement
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                <b>Nested statements are used to execute different piece of code when we have more than two options to handle.<br>
                    <b>Nested statements mean that an if statement or if-else statement is present inside another if or if-else block.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [90]:
num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: 8
Positive number

In [91]:
# nested if else in python

score = int(input("Enter your score"))

if(score <=100 and score >= 90):
    print("distinction")
elif(score < 90 and score >= 80):
    print("A Grade")
elif(score < 80 and score >= 70):
    print("B Grade")
elif(score < 70 and score >= 60):
    print("C Grade")
elif(score < 60 and score > 50):
    print("D Grade")
elif(score == 50):
    print("E Grade")
elif(score < 50 and score >= 0):
    print("U Grade")
else:
    print("Enter a valid score between 0 and 100")

Enter your score98
distinction