In [1]:
#!pip install opencv-python

In [2]:
#!pip install --upgrade pip

In [3]:
#!pip install scikit-image

In [4]:
import pandas as pd
import numpy as np

In [5]:
def create_dataframe(keys, values):  
    df=pd.DataFrame(values,columns=keys)
    df.reset_index()
    return(df)

In [6]:
df=create_dataframe(["Prod_id", "Pname","StockPrice", "StoreQT","Catog"], [["1", "Lap", 20000, 50,'Electronics'], 
                                                                       ["2", "Mob", 23000, 30,'Electronics'],
                                                                      ["3", "Headset", 3000, 100,'audia']])

In [7]:
df

  Prod_id    Pname  StockPrice  StoreQT        Catog
0       1      Lap       20000       50  Electronics
1       2      Mob       23000       30  Electronics
2       3  Headset        3000      100        audia

In [8]:
df['PricePerUnit']=df['StockPrice']/df['StoreQT']

In [9]:
df

  Prod_id    Pname  StockPrice  StoreQT        Catog  PricePerUnit
0       1      Lap       20000       50  Electronics    400.000000
1       2      Mob       23000       30  Electronics    766.666667
2       3  Headset        3000      100        audia     30.000000

In [10]:
df['IsExpensive']=df['PricePerUnit']>df['PricePerUnit'].mean()

In [11]:
df

,Prod_id,Pname,StockPrice,StoreQT,Catog,PricePerUnit,IsExpensive
0,1,Lap,20000,50,Electronics,400.000000,True
1,2,Mob,23000,30,Electronics,766.666667,True
2,3,Headset,3000,100,audia,30.000000,False

In [12]:
df['Categorycount']=df.groupby('Catog')['Prod_id'].transform('count')
df

,Prod_id,Pname,StockPrice,StoreQT,Catog,PricePerUnit,IsExpensive,Categorycount
0,1,Lap,20000,50,Electronics,400.000000,True,2
1,2,Mob,23000,30,Electronics,766.666667,True,2
2,3,Headset,3000,100,audia,30.000000,False,1

In [13]:
data={'date':['2023-11-26', '2023-11-21', '2023-11-20']}
df=pd.DataFrame(data)
print(df)
df['date']=pd.to_datetime(df['date'])

         date
0  2023-11-26
1  2023-11-21
2  2023-11-20

In [14]:
df['date']=pd.to_datetime(df['date'])

In [15]:
df['Day']=df['date'].dt.day
df['Month']=df['date'].dt.month
df['Year']=df['date'].dt.year
df

        date  Day  Month  Year
0 2023-11-26   26     11  2023
1 2023-11-21   21     11  2023
2 2023-11-20   20     11  2023

Image reading

In [19]:
import cv2

In [22]:
## below is working code study it later
bottle=cv2.imread('IMG.jpg',cv2.IMREAD_GRAYSCALE)
hog_features,hog_image=hog(bottle, orientations=16, pixels_per_cell=(16,16),cells_per_block=(1,1),visualize=True)
hog_image_rescaled=exposure.rescale_intensity(hog_image,in_range=(0,10))
cv2.imshow("Original img",bottle)
cv2.imshow("Hog Image", hog_image_rescaled)
cv2.waitKey(0)
cv2.destroyAllWindows()

AttributeError: module 'cv2' has no attribute 'hog'