Create a list of numbers

Create a list of numbers  b/w 50 to 100 with step size 5

Create a series of random num with random state 25 using random

Create a graph using above random series

Create a histogram and distplot using above random num

create a list of 25 randint  b/w 50 to 100

Difference b/w sort and sorted

convert the above list into 5*5 matrix dataframe,subject names for the same

Add Name to above said dataframe using insert option as first row

fetch the row  mark of 1 subject where marks greather than 75

Using loc

Using Iloc

Slice the data

change the value for 3rd row 2nd columns

Set index,reset index concept

Create data frame

Category- ['Washing_Machine','Mobile','AC','TV','FRIDGE'],
Brand- ['SAMSUNG','APPLE','OGENERAL','SONY','LG'],
Color-['SILVER','BLACK','WHITE','BLACK','SILVER'],
Price-[30000,20000,50000,40000,28000]

Sorth the value of price in descending

Sort the value of Category in asc and price in descending

Plot the bargraph b/w Category and price

Add new rows 
{'Category': ['Laptop','Smartwatch'],
                     'Brand': ['Dell','Noise'],
                     'Color': ['Blue','Black'],
                     'Price':[57000,4000]}

Add this new row to above data frame

Create new data 
new_data=['watch','MI','Rose',2000]

concate the above new data to dataframe

Drop the last row

Create 
new_row1=pd.DataFrame({'Category': ['Laptop'],
                     'Brand': ['Dell'],
                     'Color': ['Blue'],
                     'Price':[57000]})
                     
                     
and concate it

Check the duplicates

Drop the duplicates keep last

drop null values

Fetch sns data names

# load 'titanic' data set

View dimension

View rows and columns

view data type

View data

5 point summary

5 point summary for category variable

seek for null values

Sum of null values

Seek for duplicates

Showcase duplicates

showcase unique values in each column

Change the male,female as 1,0 respectively

Count of Male and Female in ship

Plot pie graph showing how many male and felmale in ship

In which class people are more in ship plot countplot

Which class fare collection is high

relationship between passenger class, fare, and gender

Univarities
a)Distribution plot

Value of skewness

value of kurtosis

Check for outliers

Box Plot

violin plot

# Bivarities

Num vs Num (scatter plot)

Num vs cat (bar graph)

Cat Vs cat   (cross tab)

# Multivarites

In [ ]:
Heatmap

Pairplot

using Group by what is the mean,min,max age of each embarked

In [ ]:
using Group by what is the sum of  fare each embarked

using pivot table create the table for class vs fare

using pivot table create the table for class vs fare, along with age  show agg fun sum,mean

using crosstab find how many male,female in each class

In [ ]:
using crosstab find how many male,female traveled from each embarked town