In [1]:
!pip install opencv-python

Collecting opencv-python
  Obtaining dependency information for opencv-python from https://files.pythonhosted.org/packages/a1/f6/57de91ea40c670527cd47a6548bf2cbedc68cec57c041793b256356abad7/opencv_python-4.8.1.78-cp37-abi3-macosx_11_0_arm64.whl.metadata
  Downloading opencv_python-4.8.1.78-cp37-abi3-macosx_11_0_arm64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.21.2 in /Users/ksganand/anaconda3/lib/python3.11/site-packages (from opencv-python) (1.24.3)
Downloading opencv_python-4.8.1.78-cp37-abi3-macosx_11_0_arm64.whl (33.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.1/33.1 MB 2.7 MB/s eta 0:00:0000:0100:01
Installing collected packages: opencv-python
Successfully installed opencv-python-4.8.1.78

In [2]:
!pip install --upgrade pip

Requirement already satisfied: pip in /Users/ksganand/anaconda3/lib/python3.11/site-packages (23.2.1)
Collecting pip
  Obtaining dependency information for pip from https://files.pythonhosted.org/packages/47/6a/453160888fab7c6a432a6e25f8afe6256d0d9f2cbd25971021da6491d899/pip-23.3.1-py3-none-any.whl.metadata
  Downloading pip-23.3.1-py3-none-any.whl.metadata (3.5 kB)
Downloading pip-23.3.1-py3-none-any.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 1.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.2.1
    Uninstalling pip-23.2.1:
      Successfully uninstalled pip-23.2.1
Successfully installed pip-23.3.1

In [3]:
!pip install scikit-image

Requirement already satisfied: scikit-image in /Users/ksganand/anaconda3/lib/python3.11/site-packages (0.20.0)
Requirement already satisfied: numpy>=1.21.1 in /Users/ksganand/anaconda3/lib/python3.11/site-packages (from scikit-image) (1.24.3)
Requirement already satisfied: scipy>=1.8 in /Users/ksganand/anaconda3/lib/python3.11/site-packages (from scikit-image) (1.10.1)
Requirement already satisfied: networkx>=2.8 in /Users/ksganand/anaconda3/lib/python3.11/site-packages (from scikit-image) (3.1)
Requirement already satisfied: pillow>=9.0.1 in /Users/ksganand/anaconda3/lib/python3.11/site-packages (from scikit-image) (9.4.0)
Requirement already satisfied: imageio>=2.4.1 in /Users/ksganand/anaconda3/lib/python3.11/site-packages (from scikit-image) (2.31.1)
Requirement already satisfied: tifffile>=2019.7.26 in /Users/ksganand/anaconda3/lib/python3.11/site-packages (from scikit-image) (2021.7.2)
Requirement already satisfied: PyWavelets>=1.1.1 in /Users/ksganand/anaconda3/lib/python3.11/site-packages (from scikit-image) (1.4.1)
Requirement already satisfied: packaging>=20.0 in /Users/ksganand/anaconda3/lib/python3.11/site-packages (from scikit-image) (23.0)
Requirement already satisfied: lazy_loader>=0.1 in /Users/ksganand/anaconda3/lib/python3.11/site-packages (from scikit-image) (0.2)

In [4]:
import pandas as pd
import numpy as np

In [5]:
def create_dataframe(keys, values):  
    df=pd.DataFrame(values,columns=keys)
    df.reset_index()
    return(df)

In [13]:
df=create_dataframe(["Prod_id", "Pname","StockPrice", "StoreQT","Catog"], [["1", "Lap", 20000, 50,'Electronics'], 
                                                                       ["2", "Mob", 23000, 30,'Electronics'],
                                                                      ["3", "Headset", 3000, 100,'audia']])

In [14]:
df

  Prod_id    Pname  StockPrice  StoreQT        Catog
0       1      Lap       20000       50  Electronics
1       2      Mob       23000       30  Electronics
2       3  Headset        3000      100        audia

In [15]:
df['PricePerUnit']=df['StockPrice']/df['StoreQT']

In [16]:
df

  Prod_id    Pname  StockPrice  StoreQT        Catog  PricePerUnit
0       1      Lap       20000       50  Electronics    400.000000
1       2      Mob       23000       30  Electronics    766.666667
2       3  Headset        3000      100        audia     30.000000

In [21]:
df['IsExpensive']=df['PricePerUnit']>df['PricePerUnit'].mean()

In [22]:
df

,Prod_id,Pname,StockPrice,StoreQT,Catog,PricePerUnit,IsExpensive
0,1,Lap,20000,50,Electronics,400.000000,True
1,2,Mob,23000,30,Electronics,766.666667,True
2,3,Headset,3000,100,audia,30.000000,False

In [25]:
df['Categorycount']=df.groupby('Catog')['Prod_id'].transform('count')
df

,Prod_id,Pname,StockPrice,StoreQT,Catog,PricePerUnit,IsExpensive,Categorycount
0,1,Lap,20000,50,Electronics,400.000000,True,2
1,2,Mob,23000,30,Electronics,766.666667,True,2
2,3,Headset,3000,100,audia,30.000000,False,1

In [31]:
data={'date':['2023-11-26', '2023-11-21', '2023-11-20']}
df=pd.DataFrame(data)
print(df)
df['date']=pd.to_datetime(df['date'])

         date
0  2023-11-26
1  2023-11-21
2  2023-11-20

In [32]:
df['date']=pd.to_datetime(df['date'])

In [33]:
df['Day']=df['date'].dt.day
df['Month']=df['date'].dt.month
df['Year']=df['date'].dt.year
df

        date  Day  Month  Year
0 2023-11-26   26     11  2023
1 2023-11-21   21     11  2023
2 2023-11-20   20     11  2023

Image reading

In [ ]:
## below is working code study it later
modi=cv2.imread('IMG.jpg',cv2.IMREAD_GRAYSCALE)
hog_features,hog_image=hog(modi, orientations=16, pixels_per_cell=(16,16),cells_per_block=(1,1),visualize=True)
hog_image_rescaled=exposure.rescale_intensity(hog_image,in_range=(0,10))
cv2.imshow("Original img",modi)
cv2.imshow("Hog Image", hog_image_rescaled)
cv2.waitKey(0)
cv2.destroyAllWindows()