Question 1:
Given the sets of events,
sports_winners = set(["Jake", "John",Eric","Geetha","Femi","Kala"])
quiz_winners = set(["John", "Jill","Eric","Geetha","Femi"])
1. print the winners who got sports prize and quiz prize
2. print the winners who got sports prize and not quiz prize
3. print the winners who either sports prize or quiz prize
4. print the winners who got quize prize and not sports prize

In [8]:
sports_winners = set(["Jake", "John", "Eric", "Geetha", "Femi", "Kala"]) 
quiz_winners = set(["John", "Jill", "Eric", "Geetha", "Femi"])

In [15]:
print(sports_winners.intersection(quiz_winners))
print(sports_winners.difference(quiz_winners))
print(sports_winners.union(quiz_winners))
print(quiz_winners.difference(sports_winners))

{'Geetha', 'Eric', 'Femi', 'John'}
{'Jake', 'Kala'}
{'Femi', 'John', 'Jake', 'Geetha', 'Kala', 'Jill', 'Eric'}
{'Jill'}

Question 2:
Consider the set with some integers given below
myset = {12,34,56,3,45,67,89,1,6}
1. Create set by filtering even numbers
2. Create set by filtering odd numbers
3. Create set by filtering numbers>20
4. remove the item 56 and create a new set
5. state the difference between remove() & discard() on the set.

In [32]:
myset = {12,34,56,3,45,67,89,1,6}
set1 = set(filter(lambda x: x%2 == 0, myset))
print(set1)
set2 = set(filter(lambda x: x%2 != 0, myset))
print(set2)
set3 = set(filter(lambda x: x > 20, myset))
print(set3)

myset.discard(56)
print(myset)
# because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

{56, 34, 12, 6}
{1, 3, 67, 45, 89}
{34, 67, 45, 56, 89}
{1, 34, 67, 3, 6, 12, 45, 89}

Question 3:
Date and Time
1. Print the Date after 1 week and 6 days from the current date.
2. Given the birthday as date(2000,10,2), find the age
3. Subtract five days from the current date and display it.
4. Display the dates of yesterday, today and tomorrow

In [60]:
import datetime as dt
import datetime
#1
date = dt.datetime.today()
delta = datetime.timedelta(days=13)
print(date+delta)
#2
b_date = dt.datetime(2000,10,2)
td =date - b_date
print("age is",td.days//365)
#3
delta = datetime.timedelta(days=-5)
print(date+delta)
#4
# Get today's date
yesterday = date - datetime.timedelta(1)
tomorrow = date + datetime.timedelta(1)
print(yesterday, date, tomorrow)

2023-10-15 12:40:48.717090
age is 23
2023-09-27 12:40:48.717090
2023-10-01 12:40:48.717090 2023-10-02 12:40:48.717090 2023-10-03 12:40:48.717090

Question 4:
Consider the folowing strings, string1="Great", string2="Learning" and string3="Python".
Perform the following operations on the given strings.
a. Concatenate them to create a single string called "single_string"
b. Access and print the first and last characters of "single_string"
c. Reverse the "single_string" and save it in "rev_string"
d. Extract the word "Learning" from "single_string"

In [4]:
string1="Great"
string2="Learning"
string3="Python"
single_string = string1+string2+string3
print(single_string)
print(single_string[0])
print(single_string[-1])
rev_string = single_string[::-1]
print(rev_string)
print(single_string[5:13])

GreatLearningPython
G
n
nohtyPgninraeLtaerG
Learning

Question 5:
Consider the given sentence "Hello! Great Learning. Now start learning Python."
a. In the given sentence where is the word "Learning"?:
b. In the given sentence where is the first occurrence of the letter "e"?:
c. In the given sentence where is the first occurrence of the letter "e" when you only search
between position 5 and 10?:
d. Display the list of words in the sentence

In [12]:
st = "Hello! Great Learning. Now start learning Python."
print(st.find("Learning"))
print(st.find("e"))
print(st[5:10].find("e"))
for word in st.split():
    print(word)

13
1
4
Hello!
Great
Learning.
Now
start
learning
Python.

Question 6:
Build a program that analyzes a text document (a long string) and uses a dictionary to count the
frequency of each word. You can then display the 5 most common words and their counts.

In [14]:
story = """Once, there was a boy who became bored when he watched over the village sheep grazing on the hillside. To entertain himself, he sang out, “Wolf! Wolf! The wolf is chasing the sheep!”
When the villagers heard the cry, they ran up the hill to drive the wolf away. But when they arrived, they saw no wolf. The boy was amused when he saw their angry faces.
“Don’t scream wolf when there is no wolf, boy!” the villagers warned. They angrily went back down the hill.
Later, the shepherd boy cried out once again, “Wolf! Wolf! The wolf is chasing the sheep!” To his amusement, the villagers came running up the hill to scare the wolf away.
As they saw there was no wolf, they said strictly, “Save your frightened cry for when there really is a wolf! Don’t cry ‘wolf’ when there is no wolf!” But the boy grinned at their words while they walked, grumbling down the hill once more.
Later, the boy saw a real wolf sneaking around his flock. Alarmed, he jumped on his feet and cried out as loud as he could, “Wolf! Wolf!” But the villagers thought he was fooling them again, and they didn’t come to help.
At sunset, the villagers went looking for the boy who hadn’t returned with their sheep. When they went up the hill, they found him weeping.
“There was a wolf here! The flock is gone! I cried out, ‘Wolf!’ but you didn’t come,” he wailed.
"""

In [18]:
m_dict = {}
for word in story.split():
    if word in m_dict.keys():
        m_dict[word] = m_dict[word] + 1
    else:
        m_dict[word] = 1
print(sorted(m_dict.items(), key=lambda x:x[1], reverse=True)[:5])

[('the', 21), ('they', 9), ('he', 7), ('wolf', 7), ('boy', 6)]

Question 7:
Given a list of tuples, consisting of employee_name and total_bonus_points. Find the best 3
employees who are having the highest score. Write a function find_best_employer, which takes
the list of tuples as argument and prints the names of top three employees
Sample Input:
[(‘Sanju’,321), (‘Reva’,671), (‘Darvin’,233), (‘Velan’,922), (’Satya’,223), (‘Vanathi’,102)]
Expected Output:
The top three employees for the year are Velan, Reva and Sanju

In [1]:
tup_li = [('Sanju',321), ('Reva',671), ('Darvin',233), ('Velan',922), ('Satya',223), ('Vanathi',102)]

def find_best_employer(tup_li):
    dict_1 = dict()
    # convert tuple pair to dict pair for easy use of sorted method.
    for employee_name, total_bonus_points in tup_li:
        dict_1.setdefault(employee_name, total_bonus_points)
    sort_d = sorted(dict_1.items(), key=lambda x:x[1], reverse=True)[:3]
    return "The top three employees for the year are %s, %s and %s"%(sort_d[0][0], sort_d[1][0], sort_d[2][0])

find_best_employer(tup_li)

'The top three employees for the year are Velan, Reva and Sanju'

In [2]:
s = 39
if s > 50:
    print('pass')
    elif s > 40:
        if s < 50:
            print('borderline')
    else:
        print('fail')

SyntaxError: invalid syntax (13870515.py, line 4)