In [1]:
import numpy as np

In [2]:
my_array1 = np.random.random(size =(3,2,2))
my_array1

array([[[0.26227272, 0.33857332],
        [0.35578817, 0.72015587]],

       [[0.98415255, 0.0896816 ],
        [0.09277085, 0.69751824]],

       [[0.61751438, 0.32763373],
        [0.7608592 , 0.75310718]]])

In [3]:
my_array2 = np.random.randint(1,20, [4,5])
my_array2

array([[11, 16,  8, 14, 19],
       [16, 11,  7, 11,  8],
       [17,  2, 13, 10,  9],
       [17, 12, 13,  8, 15]])

In [4]:
my_array3 = np.arange(start = 0, stop = 40, step = 5)
my_array3

array([ 0,  5, 10, 15, 20, 25, 30, 35])

In [5]:
my_array4 = np.array([(11,32,23),(34,55,46)])
print(my_array4)
print(my_array4.ndim)

[[11 32 23]
 [34 55 46]]
2

In [6]:
array5 = np.random.randint(1,20, [4,5,7])
print(array5)
print(array5.ndim)
print(array5.size)
print(array5.shape)

[[[ 8 15 12 18 14 16  2]
  [16  6 16 11 15  4 15]
  [ 5  4 13  6  5 19  4]
  [ 6  3 17  6  1 11  5]
  [ 5  8 10 15  2 19 13]]

 [[ 2  1 13 15 14 10 10]
  [13 16 14 18  3 11 12]
  [ 6 17 12 13 10 14  5]
  [ 6  4  7 15  1 13 17]
  [ 7  7 18 17 12  4  4]]

 [[18 16 13  7 17 15  4]
  [ 3  8 16 15 10  4  9]
  [ 6 12 19 18 15  4  4]
  [12 14 13  2  8  7  6]
  [ 9 16 11 12 18 19 10]]

 [[ 3  3  6  3  7 17  7]
  [12 12 17 12 12 15 11]
  [ 7  7 14 18  6  4 16]
  [18 18 18 12 18 14 19]
  [17 11 10  8  7 13 11]]]
3
140
(4, 5, 7)

In [7]:
array6 = np.array([(1,2,3,4,5,6)])
print(array6)
print(array6.size)
print(array6.shape)
print(array6.ndim)

[[1 2 3 4 5 6]]
6
(1, 6)
2

In [8]:
array7 = np.array([(8,9,10),(11,12,13)])
print(array7)
array7 = array7.reshape([2])
print(array7)

[[ 8  9 10]
 [11 12 13]]

ValueError: cannot reshape array of size 6 into shape (2,)

In [ ]:
array 8 = np.array([[101,231,321,[412,,512,622,],[544,321,456]])

In [ ]:
array24 = np.random.randint(1,20, [4,5])
print(array24)
print(array24.ndim)
print(array24.size)
print(array24.shape)

In [ ]:
print(array9[[2],[2],[2]])
print(array9[2][1])

In [ ]:
my_array10 = np.array([(11,32,23),(34,55,46)])
print(my_array10)
print(my_array4.ndim)

In [ ]:
my_array10[1][1]

In [ ]:
my_array4 = np.zeros(5)

In [ ]:
my_array4

In [ ]:
my_array11 = np.array([(45,54,67),(55,33,66)])

In [ ]:
my_array11

In [ ]:
my_array_add = my_array10+my_array11
print(my_array_add)

In [ ]:
my_array_add = my_array_add+3

In [ ]:
my_array_add

In [ ]:
my_array12 = my_array_add >= 90
my_array12

In [ ]:
my_array13 = my_array_add[my_array12]
my_array13

In [ ]:
my_array14 = my_array_add[my_array_add >= 90]
my_array14

2D arrays

# 2D arrays

In [ ]:
my_array21 = np.array([(11,32,23),(34,55,46)])
my_array22 = np.array([(45,54,67),(55,33,66)])

In [ ]:
my_array21*my_array22

In [ ]:
my_array23= my_array21*2
my_array23

In [ ]:
my_array23.sum()

In [ ]:
print(my_array21)
print('axis = 0', my_array21.sum(axis = 0))
print('axis = 1',  my_array21.sum(axis = 1))

In [ ]:
array24 = np.random.randint(1,20, [2,3,4,5])
print(array24)
print(array24.ndim)
print(array24.size)
print(array24.shape)
print('axis = 0', array24.sum(axis = 0))
print('axis = 1',  array24.sum(axis = 1))
print('axis = 2',  array24.sum(axis = 2))
print('axis = 3',  array24.sum(axis = 3))

In [ ]:
my_array21 = np.array([(11,32,23),(34,55,46)])
my_array22 = np.array([(45,54,67),(55,33,66)])

print(my_array21)
print(my_array22)

In [ ]:
np.concatenate([my_array21,my_array22])

In [ ]:
np.concatenate([my_array21,my_array22],axis=1)

In [ ]:
my_array21 = np.arange(12)
print(my_array21)
for i in my_array21:
    print(i+10)

In [ ]:
array25 = np.random.randint(1,20, [4,5])
print(array25)
print(array25.ndim)
print(array25.size)
print(array25.shape)

In [ ]:
for i in array25:
    print(i+10)

In [ ]:
my_array21 = np.random.randint(1,20,[2,3])
print (my_array21)
for i in my_array21:
    print(i,i+102)
    print('new')
    
for i in my_array21:
    for j in i:
        print(j, j+102)
        print('next row')

In [10]:
pip install panda

Requirement already satisfied: panda in /Users/ksganand/anaconda3/lib/python3.11/site-packages (0.3.1)
Requirement already satisfied: setuptools in /Users/ksganand/anaconda3/lib/python3.11/site-packages (from panda) (68.0.0)
Requirement already satisfied: requests in /Users/ksganand/anaconda3/lib/python3.11/site-packages (from panda) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/ksganand/anaconda3/lib/python3.11/site-packages (from requests->panda) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/ksganand/anaconda3/lib/python3.11/site-packages (from requests->panda) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/ksganand/anaconda3/lib/python3.11/site-packages (from requests->panda) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ksganand/anaconda3/lib/python3.11/site-packages (from requests->panda) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd
from pandas.core.arrays.sparse import SparseArray as _SparseArray

In [8]:
numbers = range(1,100,5)
pd.Series(numbers)

0      1
1      6
2     11
3     16
4     21
5     26
6     31
7     36
8     41
9     46
10    51
11    56
12    61
13    66
14    71
15    76
16    81
17    86
18    91
19    96
dtype: int64

In [11]:
data = {'Maths':60, 'Science':89, 'English': 76, 'Social Science': 86}
ser1 = pd.Series(data)

In [13]:
subjects= ['Maths', 'Science', 'English', 'Social Science', 'Arts']
ser1

Maths             60
Science           89
English           76
Social Science    86
dtype: int64

In [14]:
ser1.isnull()

Maths             False
Science           False
English           False
Social Science    False
dtype: bool

In [15]:
ser1.isnull().sum()

0

In [16]:
ser1['Science'] = 56

In [17]:
ser1

Maths             60
Science           56
English           76
Social Science    86
dtype: int64

In [18]:
ser1.Maths == 74

False

In [19]:
ser1.Maths

60

In [20]:
ser1.index

Index(['Maths', 'Science', 'English', 'Social Science'], dtype='object')

In [21]:
ser1.index.name = 'Subject'

In [22]:
ser1

Subject
Maths             60
Science           56
English           76
Social Science    86
dtype: int64

In [23]:
ser1+5

Subject
Maths             65
Science           61
English           81
Social Science    91
dtype: int64

In [35]:
import numpy as np
num = pd.Series(np.random.random(15)*10).round()
num

0     0.0
1     0.0
2     8.0
3     8.0
4     3.0
5     7.0
6     8.0
7     5.0
8     5.0
9     1.0
10    0.0
11    6.0
12    7.0
13    8.0
14    7.0
dtype: float64

In [36]:
square = pd.Series(num*num)
square.index = [num]
square

0.0     0.0
0.0     0.0
8.0    64.0
8.0    64.0
3.0     9.0
7.0    49.0
8.0    64.0
5.0    25.0
5.0    25.0
1.0     1.0
0.0     0.0
6.0    36.0
7.0    49.0
8.0    64.0
7.0    49.0
dtype: float64

In [38]:
num.name = 'Squre'
num.index.name = "Number"
square

0.0     0.0
0.0     0.0
8.0    64.0
8.0    64.0
3.0     9.0
7.0    49.0
8.0    64.0
5.0    25.0
5.0    25.0
1.0     1.0
0.0     0.0
6.0    36.0
7.0    49.0
8.0    64.0
7.0    49.0
dtype: float64

In [40]:
num.info()

<class 'pandas.core.series.Series'>
RangeIndex: 15 entries, 0 to 14
Series name: Squre
Non-Null Count  Dtype
--------------  -----
15 non-null     float64
dtypes: float64(1)
memory usage: 252.0 bytes