## DAV - Unit 3 and Unit 4

### Data preprocissing Techniques

#### Missing Values

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("Bengaluru_House_Data.csv")
df

In [ ]:
df1=df.dropna() # drop all rows with null values in any column
df1

In [ ]:
df2=df.dropna(how='all') # deletes row if all rows are empty
df2

In [ ]:
df3=df.drop_duplicates #to drop duplicates
df3

In [ ]:
df

In [ ]:
df3=df.drop(columns = ['bath'], axis= 'columns') # to remove the columns with nulls #inplace=True if we have to use same dataframe
df3

##### Numerical Imputation

In [ ]:
# To replace the missing value with mean, mode, median (MMM)
mean_a=np.round(df['A'].mean())
df['A'].fillna(mean_a,inplace=True)

In [ ]:
# To replace the missing value with Linear Regression

from sklearn.linear_model import LinearRegression

data={'X':[1,2,3,4,5,6,7,8,9,10],
     'Y':[10,20,30,40,50,np.nan,np.nan,80,90,100]}
df=pd.DataFrame(data)
print("Original Dataset")
print(df)

model= LinearRegression()
known=df[~df['Y'].isna()] # To be checked further and remember
unknown=df[df['Y'].isna()] # To be checked further and remember

model.fit(known[['X']],known['Y']) # To be checked further and remember

predicted = model.predict(unknown[['X']]) # To be checked further and remember
df.loc[df['Y'].isna(),'Y']=predicted # To be checked further and remember
print("imputed values")
print(df)

In [ ]:
df2=df.fillna(method='pad') #Fills with previous value in that column

In [ ]:
df2=df.fillna(method='bfill') #fills with next value in that column

In [ ]:
df2=df.fillna(method='bfill', axis=1) #fills with next value in that row

In [ ]:
df9=df.replace(to_replace=3.0,value=0000) 
df9

In [ ]:
df5=df.fillna({'society':'abced', 
              'balcony':'fghi'})
df5

#### Groupby based Imputation.

In [ ]:
import pandas as pd
data={'StuID':[1,2,3,4,5,6,7,8,9,10],
      'Grade':['A','B','A','B','C','A','A','B','C','A'],
      'Score':[95,78,87,70,62,None,91,75,None,83]}

df=pd.DataFrame(data)
df

In [ ]:
Grades_means = df.groupby('Grade')['Score'].mean()

print(Grades_means)
type(Grades_means)

In [ ]:
# Imputation for each grade using lambda
df['Score']=df.apply(lambda row: Grades_means[row['Grade']] if pd.isna(row['Score']) else row['Score'],axis=1)
print(df)

##### Categorical ***********to be filled ********

#### Data Transformation Techniques

In [ ]:
# Log and Squre root 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
data1=np.abs(np.random.normal(0,2,1000))
print(data1)

log_transformed_data = np.log(data)
sqrt_transformed_data = np.sqrt(data)
print(log_transformed_data)
print(sqrt_transformed_data)

In [ ]:
plt.boxplot(data)
plt.show()

In [ ]:
plt.figure(figsize = (20,10))
plt.subplot(1,3,1)
plt.hist(data,bins=30,color='blue', alpha=0.7)
plt.title('Original data')

plt.subplot(1,3,2)
plt.hist(log_transformed_data,bins=30,color='green', alpha=0.7)
plt.title('log data')

plt.subplot(1,3,3)
plt.hist(sqrt_transformed_data,bins=30,color='red', alpha=0.7)
plt.title('Sqrt data')

plt.tight_layout()
plt.show()

### Scaling

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
df = pd.read_csv("winequality-red.csv")

In [ ]:
from sklearn.preprocessing import MinMaxScaler #Normalizer, StandardScaler, RobustScaler, MaxAbsScaler
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(df)
scaled_newtable = pd.DataFrame(scaled_data,columns=df.columns)
scaled_newtable.head(10)

# and do the plot of all scaling to check the distribution and best fit for the given scenario using 
#sns.kdeplot(wine['fixed acidity'],color= 'red')

### Feture Enginnering

In [ ]:
# Feture Selection - to be done based on Domain Knowledge
# Feture Transformation - Using Tranformation like log, sqrt, square and scaling using Normalization and Standardization
#Feture Creation
df['IsExpensive']=df['PricePerUnit']>df['PricePerUnit'].mean()

# Freture Extraction - Dimentionality Reduction - Using Domain Knowledge