In [1]:
import pandas as pd
import numpy as np

1. Write a function that takes start and end of a range returns a Pandas series object

containing numbers within that range.

In case the user does not pass start or end or both they should default to 1 and 10 respectively.

eg.

range_series() -> Should Return a pandas series from 1 to 10

range_series(5) -> Should Return a pandas series from 5 to 10

range_series(5, 10) -> Should Return a pandas series from 5 to 10.

In [2]:
def range_series(st=1, en=10):
    return(pd.Series(np.arange(st,en)))

In [3]:
range_series()

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [4]:
range_series(5)

0    5
1    6
2    7
3    8
4    9
dtype: int64

In [5]:
range_series(5,10)

0    5
1    6
2    7
3    8
4    9
dtype: int64

2. Create a function that takes in two lists named keys and values as arguments.

Keys would be strings and contain n string values.

Values would be a list containing n lists.

The methods should return a new pandas dataframe with keys as column names and values as their corresponding values

e.g. -> create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]]) -> should return a dataframe

One Two

0 X Y

1 A B

In [16]:
def create_dataframe(keys, values):  
    df=pd.DataFrame(values,columns=keys)
    df.reset_index()
    return(df)

In [17]:
df1=create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]])

In [18]:
df1

  One Two
0   X   Y
1   A   B

3. Create a function that concatenates two dataframes. Use previously created function to create two dataframes and pass them as parameters Make sure that the indexes are reset before returning:

In [19]:
df2=create_dataframe(["One", "Two"], [["P", "Q"], ["I", "J"]])

In [20]:
df2

  One Two
0   P   Q
1   I   J

In [21]:
df3=pd.concat([df1,df2],axis=0) #removing index part to be checked
df3

  One Two
0   X   Y
1   A   B
0   P   Q
1   I   J

In [22]:
df=pd.read_csv("cars.csv")

4. Write code to load data from cars.csv into a dataframe and print its details. Details like: 'count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'.

In [23]:
df.describe()

,Dimensions.Height,Dimensions.Length,Dimensions.Width,Engine Information.Number of Forward Gears,Fuel Information.City mpg,Fuel Information.Highway mpg,Identification.Year,Engine Information.Engine Statistics.Horsepower,Engine Information.Engine Statistics.Torque
count,5076.000000,5076.000000,5076.000000,5076.000000,5076.000000,5076.000000,5076.000000,5076.000000,5076.000000
mean,145.632191,127.825847,144.012411,5.519110,17.275808,24.125493,2010.867612,270.499409,272.707250
std,62.125026,77.358295,79.925899,0.845637,4.479485,6.488293,0.782951,95.293537,100.123328
min,1.000000,2.000000,1.000000,4.000000,8.000000,11.000000,2009.000000,100.000000,98.000000
25%,104.000000,60.000000,62.000000,5.000000,14.000000,20.000000,2010.000000,190.000000,187.000000
50%,152.000000,128.000000,158.000000,6.000000,17.000000,24.000000,2011.000000,266.000000,260.000000
75%,193.000000,198.000000,219.000000,6.000000,20.000000,28.000000,2011.000000,317.000000,335.000000
max,255.000000,255.000000,254.000000,8.000000,38.000000,223.000000,2012.000000,638.000000,774.000000

5. Write a method that will take a column name as argument and return the name of the column with which the
given column has the highest correlation.

The data to be used is the cars dataset.

The returned value should not the column named that was passed as the parameters.

E.G: get_max_correlated_column('mpg') -> should return 'drat'

In [24]:
corr_df= df.corr()

/var/folders/5c/ly4jz5hs1mj0hgj7hwpkwcv80000gn/T/ipykernel_25474/4163770245.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_df= df.corr()

In [25]:
corr_df

,Dimensions.Height,Dimensions.Length,Dimensions.Width,Engine Information.Hybrid,Engine Information.Number of Forward Gears,Fuel Information.City mpg,Fuel Information.Highway mpg,Identification.Year,Engine Information.Engine Statistics.Horsepower,Engine Information.Engine Statistics.Torque
Dimensions.Height,1.000000,0.051030,-0.220888,NaN,0.057769,0.249385,0.245169,0.035920,-0.152407,-0.182470
Dimensions.Length,0.051030,1.000000,0.016231,NaN,-0.041748,-0.018854,-0.010934,-0.031853,0.017107,0.024901
Dimensions.Width,-0.220888,0.016231,1.000000,NaN,-0.168376,-0.139998,-0.181577,-0.023347,0.036356,0.141035
Engine Information.Hybrid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Engine Information.Number of Forward Gears,0.057769,-0.041748,-0.168376,NaN,1.000000,-0.036348,0.052588,0.142507,0.319755,0.227386
Fuel Information.City mpg,0.249385,-0.018854,-0.139998,NaN,-0.036348,1.000000,0.865617,0.092046,-0.701537,-0.754664
Fuel Information.Highway mpg,0.245169,-0.010934,-0.181577,NaN,0.052588,0.865617,1.000000,0.111335,-0.548200,-0.617965
Identification.Year,0.035920,-0.031853,-0.023347,NaN,0.142507,0.092046,0.111335,1.000000,0.006454,-0.019583
Engine Information.Engine Statistics.Horsepower,-0.152407,0.017107,0.036356,NaN,0.319755,-0.701537,-0.548200,0.006454,1.000000,0.938304
Engine Information.Engine Statistics.Torque,-0.182470,0.024901,0.141035,NaN,0.227386,-0.754664,-0.617965,-0.019583,0.938304,1.000000

In [134]:
def get_max_correlated_column(column):
    #Converting the column to dataframe again as the passed on column will come as Series object
    local_df = pd.DataFrame(column)
    print(local_df, '')

    #Deleting the row which contains the self named rows as the self correlation is to be moved. 
    given_column_name=local_df.columns[0]
    updated_local_df=local_df.drop(labels=[given_column_name])

    #Getting the row with max correction location
    max_corr_location= updated_local_df.loc[updated_local_df[given_column_name] == updated_local_df[given_column_name].max()]
    return(max_corr_location)
    
    #return(max_corr_location.index[0]) ## Use this if you just need the variable name which is highly correlated.

In [135]:
pair_column = get_max_correlated_column(corr_df['Fuel Information.Highway mpg'])

                                                 Fuel Information.Highway mpg
Dimensions.Height                                                    0.245169
Dimensions.Length                                                   -0.010934
Dimensions.Width                                                    -0.181577
Engine Information.Hybrid                                                 NaN
Engine Information.Number of Forward Gears                           0.052588
Fuel Information.City mpg                                            0.865617
Fuel Information.Highway mpg                                         1.000000
Identification.Year                                                  0.111335
Engine Information.Engine Statistics.Horsepower                     -0.548200
Engine Information.Engine Statistics.Torque                         -0.617965

In [136]:
print('Maximum Correlation is: \n ',pair_column)

Maximum Correlation is:
                             Fuel Information.Highway mpg
Fuel Information.City mpg                      0.865617